                        @using static Core.Enum.eFashionEnum

@model IEnumerable<Core.ViewModels.PaymentViewModels>

@{
    ViewData["Title"] = "PaymentApproval";
}
<style>
    .button-container {
        display: flex;
        gap: 10px; /* Space between buttons */
    }

    .btn-approve {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn-confirmed {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn-decline {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>

<div class="container">
    <h2>Payment Approval</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Paid By</th>
                <th>Approved By</th>
                <th>Payment Type</th>
                <th>Orders Id</th>
                <th>Payment Date</th>
                <th>Approved Date</th>
                <th>Payment Receipt</th>
                <th>Order Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PaidBy</td>
                    <td>@item.ApprovedBy</td>
                    <td>@item.PaymentType</td>
                    <td>@item.OrdersId</td>
                    <td>@item.PaymentDate</td>
                    <td>@item.ApprovedDate</td>
                    <td>@item.PaymentReceipt</td>
                    <td>
                        @if (item.OrderStatus == OrderStatus.Recieved)
                        {
                            <button type="submit" onclick="Received(@item.Id)" class="btn btn-warning"> @item.OrderStatus</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-warning"> @item.OrderStatus</button>
                        }
                    </td>
                    <td>
                        @if (item.PaymentVerificationStatus == PaymentVerificationStatus.Seen || item.PaymentVerificationStatus == PaymentVerificationStatus.Completed)
                        {
                            <button type="submit" class="btn btn-confirmed">Confirmed</button>
                        }
                        else if (item.PaymentVerificationStatus == PaymentVerificationStatus.Declined)
                        {
                            <button type="submit" class="btn btn-confirmed">Declined</button>

                        }
                        else
                        {
                            <div class="button-container">
                            <button type="submit" onclick="paymentApproval(@item.Id)" class="btn btn-approve">Approve</button>
                            <button type="submit" onclick="declinePayment(@item.Id)" class="btn btn-decline">Decline</button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
