@using Core.Models
@using static Core.Enum.eFashionEnum

@model IEnumerable<Core.ViewModels.OrdersViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center text-secondary mb-3"><b>Order Details</b></h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                  
                    <th scope="col">User</th>
                    <th scope="col">Sample ID</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Payment Type</th>
                    <th scope="col">Payment Verification Status</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orders in Model)
                {
                    <tr>

                        <td>@(orders.FirstName + " " + orders.LastName)</td>
                        <td>@orders.SampleId</td>
                        @* <td>@orders.TotalQuantity</td> *@
                        <td>
                            <button type="submit" class="btn btn-warning"> @orders.OrderStatus</button>
                        </td>
                        <td>@orders.PaymentTypeId</td>
                        <td>
@*                             @if(orders.Payment.PaymentVerificationStatus == PaymentVerificationStatus.Sent)
                            {
                                <button type="submit" class="btn btn-warning"> Pending</button>

                            }
                            else
                            { *@
                                <button type="submit" class="btn btn-primary"> @orders.PaymentVerificationStatus</button>

                            @* } *@
@*                             @orders.Payment.PaymentVerificationStatus
 *@                         </td>
                        <td>@orders.OrderDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            @foreach (var subTotal in orders.SubTotal)
                            {
                                @subTotal
                            }
                        </td>
                        <td>@orders.TotalAmount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


 